@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome!</h1>
    <h2>2Team eBike Solution</h2>
    <h3>Team Members:</h3>
    <ul>
        <li>Tyler Fisher: Purchasing</li>
        <li>John-Peter Eberhard: Recieving</li>
        <li>Shaun Currie: Sales</li>
        <li>Christopher Glinka: Servicing</li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
